body{
    padding: 0px;
    margin: 0px;
}
.nev {
    background-color:rgb(30, 28, 28);
    display: flex;
    justify-content: space-between;
    color: white;

}

img {
    width: 100px;
}

.nev .nev1  {
    list-style-type: none;
     display: flex;
     /* border :1px solid;
   
     width: 700px; */
     justify-content: space-between ;
    
}

.nev .nev2 {
    list-style-type: none;
    display: flex;
    /* border: 1px solid;
    width: 600px; */
    justify-content: space-evenly;
    align-items: center;

}
.nev1 li{
    margin: 20px;
}
.nev2 li{
    margin: 20px;
}
.nev2 div{
   background-color: aliceblue;
   color:black;
   padding: 5px;
   margin: 0px 10px 0px 20px;
   border-radius: 10px;
}
.wex{
    background-color: black;
    color: white;
    display: flex;
    padding: 100px 20px 50px 0px;
    
}.wex .wex1{
    font-size: 32px;
    display: flex;
    padding: 100px;
}
/* .wex .wex2{
    justify-content: center
} */
 /* .wex1 .wexB{
    font-size: 96px;
    margin-left: 80px;
 }
 .wex .wex3{
    text-align: center;
    background-color: rgb(83, 144, 83);
    
 } */
  .wex .wex2{
    justify-content: center;
    padding: 90px 100px 0px 0px;
    
  }
  .wex2 .wexB{
    font-size: 96px;
    
    
  }
  .wex2 .wexC{
    background-color: rgb(51, 93, 51);
    width: 150px;
    font-size: 16px;
    padding: 20px 20px 20px  10px ;
    border-radius: 30px;
    text-align: center;
    margin:40px;
  }
  .wex .wexD{
    font-size: 24px;
    padding: 20px 20px 0px 0px ;
  }